{{define "FOOTER"}}
<hr/>
<footer role="contentinfo">
    <div class="container-fluid">
        <p>Designed and built by <a href="#" target="_blank">@hang</a></p>
        <p>Thanks to
            <a href="https://golang.org/">Golang</a>
            <a href="https://github.com/gin-gonic/gin">Gin</a>
            <a href="https://github.com/mattn/go-sqlite3">go-sqlite3</a>
            <a href="https://github.com/jinzhu/gorm">Gorm</a>
            <a href="https://www.sqlite.org/">SQLite</a>
            <a href="https://jquery.com">jQuery</a>
            <a href="https://getbootstrap.com/">Bootstrap</a>
        </p>
        <p>Powered by <a href="http://my.virpus.com/aff.php?aff=2009">Virpus</a></p>
    </div>
</footer>

<script src="/static/js/jquery-2.2.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/main.js"></script>
{{end}}
